#iDivBenchmarkContainer {
  display: none;
}

body {
  text-align: center;
	background: #eee url(/img/backgroundhome.png);
  background-repeat: no-repeat;
  background-position: center top;
}

h1 {
  margin-top: 70px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 5px;
}

.login {
  margin-top: 100px;
}

.wrap-er {
  margin: auto:
}

.descirption {
  width: 300px;
  float: left;
}

.callToAction {
  width: 300px;
  float: left;
  padding-top: 50px;
}

#visualizationContainer {
  width: 800px;
  margin: auto;
}
