.cFullWidth {
	background-color: #69F;
	text-align: center;
}
.cVeryThin1 {
	background-color: #EEE;
}
.cVeryThin2 {
	background-color: #DDD;
}
.cVeryThin3 {
	background-color: #CCC;
}
.cNotSoThin4 {
	background-color: #BBB;
}
.cNotSoThin5 {
	background-color: #AAA;
}
.cNotSoThin6 {
	background-color: #999;
}
.cSortaFat7 {
	background-color: #963;
}
.cSortaFat8 {
	background-color: #F96;
}
.cSortaFat9 {
	background-color: #F69;
}
.cFatso10 {
	background-color: #369;
}
.cFatso11 {
	background-color: #396;
}

.cHugeso12 {
	background-color: #663;
}
.cHugeso13 {
	background-color: #996;
}
.cHugeso14 {
	background-color: #669;
}
.cHugeso15 {
	background-color: #339;
}