/* 12-Column Layout */
.cContainer-12 {
	width: 950px;
	margin: 0 auto;
}
.cGrid-01,
.cGrid-02,
.cGrid-03,
.cGrid-04,
.cGrid-05,
.cGrid-06,
.cGrid-07,
.cGrid-08,
.cGrid-09,
.cGrid-10,
.cGrid-11,
.cGrid-12 {
	float: left;
	margin-right: 20px;
}
.cLast {
	margin-right: 0;
}
.cContainer-12 .cGrid-01 {
	width: 60px;
}
.cContainer-12 .cGrid-02 {
	width: 140px;
}
.cContainer-12 .cGrid-03 {
	width: 220px;
}
.cContainer-12 .cGrid-04 {
	width: 300px;
}
.cContainer-12 .cGrid-05 {
	width: 380px;
}
.cContainer-12 .cGrid-06 {
	width: 460px;
}
.cContainer-12 .cGrid-07 {
	width: 540px;
}
.cContainer-12 .cGrid-08 {
	width: 620px;
}
.cContainer-12 .cGrid-09 {
	width: 700px;
}
.cContainer-12 .cGrid-10 {
	width: 780px;
}
.cContainer-12 .cGrid-11 {
	width: 860px;
}
.cContainer-12 .cGrid-12 {
	width: 940px;
}